<!--layout for parallax effect page -->
<!DOCTYPE html>
<html>
  <head>
    <title>Parallax DemoEffect</title>
    <%= stylesheet_link_tag params[:action] %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
    <script src="/assets/skrollr/skrollr.stylesheets.min.js" type="text/javascript"></script>
    <script src="/assets/skrollr/skrollr.min.js" type="text/javascript"></script>
    <script>
      var s = skrollr.init();
    </script>
  </body>
</html>